* {
    margin: 0;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

p {
    padding: 10px 0px;
}

td {
    padding: 5px 10px 5px 0px;
}

.bold {
    font-weight: bold;
}

.color {
    color:#3634C9;
}

.div-column {
    display: flex;
    flex-direction: column;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.text-createTask {
    font-weight: bold;
    background-color: #3634C9;
    color: white; 
    border-radius: 10px;
    padding:10px;
    cursor: pointer;
}

.text-createTask:hover {
    opacity: 0.5;
}

.text-cancel {
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.text-cancel:hover {
    opacity: 0.5;
}

.img-profilePicture {
    border-radius: 100px;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.img-add {
    cursor:pointer;
    margin:10px; 
    height: 30px; 
    width: 30px;
}

.img-add:hover {
    filter: invert(0.25);
}

.div-fillIns {
    border-radius: 5px;
    border: solid rgb(160, 158, 158) 1px;
    height: 10px;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
}

.div-description {
    resize: none;
    border-radius: 5px;
    border: solid rgb(160, 158, 158) 1px;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
}