body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.backlog {
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    left: 200px;
    padding-top: 33px;
}

.overview {
    display: flex;
    flex-direction: column;
}

.title-backlog {
    height: 5px;
    font-size: 29px;
    margin-top: 10px;
}

.title-text {
    font-size: 14px;
    color: rgb(22 22 165);
    font-weight: 600;
    padding-left: 1px;
}


.history

/* container for Historylog */
/* id */
{
    width: 80%;
    background-color: rgba(244, 243, 251, 255);
    height: 100px;
    display: flex;
    border-radius: 13px;
    border-left: 4px solid green;
    margin-bottom: 15px;
    overflow: hidden;
    justify-content: space-between;
}
.details {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    width: 68%;
}
.detail {
    font-size: 20px;
    font-weight: 600;
    color: #273a94;
}

.members-list {
    display: flex;
}
.member-pic{
    margin-top: 25px;
    width: 50px;
    border-radius: 50px;
    height: 50px;
    margin-left: 5px;
}

.email {
    color: #6b8cfc;
}
.user-data{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 24px;
}

.category{
    display: flex;
    align-items: center;
}

.details-history{    
    display: flex;
    align-items: center;
}

.text-createTask {
    font-weight: bold;
    background-color: #3634C9;
    color: white;
    font-size: 19px;
    padding: 10px;
    cursor: pointer;
    border: none;
    height: 100%;
    width: 29px;


}


@media (max-width: 600px) {
.history{
    width: 100%;
}
.backlog {
    display: flex;
    margin-left: 0%;
    justify-content: center;
    align-items: center;
}
.history{
    position: relative;
}
.details{
 width: 100%;
}
.overview {
    width: 100%;
}
.break{
    word-break: break-all;
}





}

@media (max-width: 400px){
    .member-pic{
    
        margin-left: -3px;
    }
    .user-data{
        margin-left: 0px;
    }
    .details-history{
        padding-left: 2px;
    }
    .text-createTask{
        width: 20px;
    }
}

