body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.backlog {
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    left: 200px;
    padding-top: 33px;
}

.title-backlog {
    height: 5px;
    font-size: 29px;
    margin-top: 10px;
}

.title-text {
    font-size: 14px;
    color: rgb(22 22 165);
    font-weight: 600;
    padding-left: 1px;
}

.details {
    display: flex;
    padding-top: 25px;
}

.detail {
    font-size: 20px;
    font-weight: 600;
    color: #273a94;
}

.a1 {
    padding-right: 323px;
}

.a2 {
    padding-right: 450px;
}

.history

/* container for Historylog */
/* id */
    {
    width: 69rem;
    background-color: rgba(244, 243, 251, 255);
    height: 100px;
    display: flex;
    border-radius: 13px;
    border-left: 4px solid green;
    margin-bottom: 15px;
    overflow: hidden;
}

.member-pic {
    /* Picture in Historylog */
    /* id */


    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-top: 24px;
    margin-left: 15px;
}


.user-data {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}

.name-email {
    /* id */

    width: 280px;
    height: 1px;
}

.category {
    /* id */
   
    padding-left: 70px;
    width: 105px;
    display: flex;
    align-items: center;
}

.details-history {
    /* id */
    width: 520px;
    padding-left: 73px;
    display: flex;
    align-items: center;
}

.email {
    color: #6b8cfc;
}

.members-list {
    display: flex;
}



@media (max-width: 1000px) {


.backlog {
    margin-left: 2px;
}

.title-backlog {
    text-align: center;
}

.title-text {
    text-align: center;
}


.history {
    width: fit-content;

}

.details {
    display: flex;
    justify-content: space-around;
    
}

.category {
    width: fit-content;
    padding-left: 0px;
    
}

.details-history {
    width: 179px;
}



.user-data {
    width: 150px;
}

.a1 {
    padding-right: 0px;
}
.a2{
    padding-right: 0px;
}


}