body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

table {
    border-spacing: 15px 0px;
    padding: 0px;
    position: relative;
}

td {
    padding: 5px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.bg-board {
    display: flex;
    height: 100vh;
    padding: 0px 0px 0px 210px;
    overflow-x: auto;
}

.task-area {
    position: relative;
    width: 300px; 
    margin: 20px 30px 20px 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-ticket {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-board {
    position: relative;
    width: 250px;
    background-color: white;
    margin-bottom: 15px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid rgb(36, 36, 158);
}

.board-discription {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 300px;
    background: rgb(180, 180, 238);
    color: white;
    font-size: larger;
    font-weight: bolder;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Here starts the styling for the task*/
.font-style {
    font-size: 14px;


}

.task-name {
    position: absolute;
    top: -11px;
    left: 6px;
}

.task-title {
    position: absolute;
    top: 10px;
    left: 6px;
}

.task-date {
    position: absolute;
    top: -11px;
    right: 3px;
}


.task-text {
    position: absolute;
    bottom: 42px;
    left: 7px;
}

.task-urgency {
    position: absolute;
    top: -11px;
    left: 103px;

}

.div-ticket {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Here ends the styling*/

/* Styling task in fullscreen */

#taskBoardFullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

#taskBoardFullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

#popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(1,1,1,0.8);
}

#taskFullscreen {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    border-radius: 8px;
    background-color: white;
    width: 500px;
    position: absolute;
    border: 1px solid black;
}

#taskFullscreen-title {
    color: #24249E;
    font-size: larger;
    font-weight: bold;
}

.delete-button {
    background: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    box-shadow: 0px 1px 0px 0px #2c5d70;
    background: linear-gradient(to bottom, #f8f6ef 5%, #dad8d6 100%);
    background-color: #fcf8ee;
    border-radius: 15px;
    padding: 1px 2.5px;
}

.close-btn {
    position: absolute;
    right: 0px;
    margin: 10px;
    box-shadow: 0px 1px 0px 0px #2c5d70;
    background: linear-gradient(to bottom, #f8f6ef 5%, #dad8d6 100%);
    background-color: #fcf8ee;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
}

.div-scrollbox {

}

/* .div-ticketsResponsive {
    
} */

@media (max-width: 600px) {
    .bg-board {
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 600px) {
    #taskFullscreen {
        width: 80%;
    }

    .task-area {
        margin: 35px 30px 20px 30px;
    }
}

@media (max-height: 525px) {
    .bg-board {
        padding: 0px 0px 0px 35px;
    }

    .task-area {
        margin: 35px 30px 20px 0px;
    }

    .div-ticket {
        height: 90%;
        overflow-y: auto; 
    }

  /*   .div-ticketsResponsive {
        height: 90%;
        overflow-y: auto;
    } */
}

@media (max-height: 425px) {
    .div-scrollbox {
        overflow-y: auto; 
        height: 250px;
    }

    #taskFullscreen {
        height: 90%;
    }
}

