body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

table {
    border-spacing: 15px 0px;
    padding: 0px;
    position: relative;
}

td {
    padding: 5px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.bg-board {
    display: flex;
    height: 100vh;
    padding: 10px 20px 20px 190px;
}

.task-area {
    position: relative;
    width: 300px;
    height: 670px !important;
    margin: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.board-discription {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    background: rgb(180, 180, 238);
    color: white;
    font-size: larger;
    font-weight: bolder;
    border-radius: 8px;

}

.task-board {
    position: relative;
    width: 250px;
    background-color: white;
    margin-top: 5px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid rgb(36, 36, 158);
}

/* Here starts the styling for the task*/
.font-style {
    font-size: 14px;
    

}

.task-name {
    position: absolute;
    top: -11px;
    left: 6px;
}

.task-title {
    position: absolute;
    top: 10px;
    left: 6px;
}

.task-date {
    position: absolute;
    top: -11px;
    right: 3px;
}

.delete-button {
    z-index: 1;
    top: 56px;
    border: none;
    background: none;
    position: absolute;
    right: 37px;
    cursor: pointer;
    }


.task-text {
    position: absolute;
    bottom: 42px;
    left: 7px;
}

.task-urgency {
    position: absolute;
    top: -11px;
    left: 103px;

}




/* Here ends the styling*/

.flex {
    display: flex;
    margin-top: 50px;
}

#taskBoardFullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}


/* from here: style tab "help" */

.bg-board-help {
    display: flex;
    background-color: rgb(36, 36, 158);
    height: 100vh;
    margin-left: 250px;
    color: white;
    flex-direction: column;
    align-items: center;
}

.headline {
    height: 50px;
    width: 900px;
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
}

.explain-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 32px;
    margin-left: 32px;
    background-color: white;
}

.explain-section {
    padding: 16px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    text-align: center;
}

.explain-container-element {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-ticket {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#taskBoardFullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}


#popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(71, 42, 238, 0.308);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 5000000;
}

#taskFullscreen {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    border-radius: 8px;
    background-color: white;
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: 50px;



}

#taskFullscreen-title {
    color: blue;
    font-size: larger;
    font-weight: bold;
}

.close-btn {
    margin-top: 10px;
    display: inline-block;
    box-shadow: 0px 1px 0px 0px #2c5d70;
    background: linear-gradient(to bottom, #f8f6ef 5%, #dad8d6 100%);
    background-color: #fcf8ee;
    border-radius: 15px;
    border: 2px solid #5f12ee;
    display: inline-block;
    cursor: pointer;
    color: blue;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 64px;
}
