body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

table {
    border-spacing: 15px 0px;
    padding: 0px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.bg-board {
    display: flex;
    height: 100vh;
    padding: 10px 20px 20px 190px;
}

.task-area {
    position: relative;
    width: 300px;
    height: 670px;
    margin: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.board-discription {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    background: rgb(180, 180, 238);
    color: white;
    font-size: larger;
    font-weight: bolder;
    border-radius: 8px;

}

.task-board {

    width: 250px;
    background-color: white;
    margin-top: 5px;
    text-align: center;
}

.flex {
    display: flex;
    margin-top: 50px;
}

#taskBoardFullscreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}


.drag-highlight {
    background-color: rgba(0, 0, 0, 0.2);
    ;
}


/* from here: style tab "help" */

.bg-board-help {
    display: flex;
    background-color: rgb(36, 36, 158);
    height: 100vh;
    margin-left: 250px;
    color: white;
    flex-direction: column;
    align-items: center;
}

.headline {
    height: 50px;
    width: 900px;
    font-size: 32px;
    margin-top: 20px;
    text-align: center;

}

.explain-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 32px;
    margin-left: 32px;
    background-color: white;
}

.explain-section {
    padding: 16px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    text-align: center;
}

.explain-container-element {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-ticket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px;
    background-color: yellow;
    border-radius: 10px;
    width: 225px;
    border: 1px solid grey;
}